version: 2
# Jobs
jobs:
  build:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: echo "n" | sudo npm install -g @angular/cli@next
      - run: ng new monorepo --createApplication=false
      - run: cd monorepo && ng update @angular/core@next @angular/cli@next --force --allowDirty=true
      - run: cd monorepo && ng generate application dev --defaults
      - run: cd monorepo && ng generate library shared
      - run: cp dev-app.module.ts monorepo/projects/dev/src/app/dev-app.module.ts
      - run: cd monorepo && ng build --prod dev
# Workflows
workflows:
  version: 2
  test:
    jobs:
      - build